{% extends "base.html" %}

{% block conteudo %}

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="adicionar">
        <a href="/usuarios/add">+Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>E-Mail</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for usuario in dados %}
        <tr>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.email}}</td>
            <td><a href="/usuarios/edit/{{usuario.id}}">[E]</a></td>
            <td><a href="/usuarios/remove/{{usuario.id}}">[X]</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}